.side_bar
  .side_bar__header
    .side_bar__header__topitems
      .side_bar__header__topitems__box
        .side_bar__header__topitems__box__name
          masa
      .side_bar__header__topitems__iconbox
        .side_bar__header__topitems__iconbox__icons
        = link_to "#", class: "iconbox__icons" do
          = icon('fas','edit')
        .side_bar__header__topitems__iconbox__icons
        = link_to "#", class: "iconbox__icons" do
          = icon('fas','cog')  
  .side_bar__group
    .side-bar__group__message
      .side_bar__group__message__title
        techcamp
      .side_bar__group__message__text
        まだメッセージはありません
    .side-bar__group__message
      .side_bar__group__message__title
        techcamp
      .side_bar__group__message__text
        まだメッセージはありません













-# .side-bar
-#   .side-bar__header
-#     .side-bar__header__left
-#     .side-bar__header__right
-#       .side-bar__header__right__cog
-#       .side-bar__header__right__pencil
-#   .side-bar__contents